<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^([0-9]+) /index.php?page=$1
RewriteRule ^([-a-z]+)/([0-9]+)?/?$ /index.php?category=$1&page=$2 [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
</IfModule>
